## Desafio 05. Primeira conversão por usuário

### Bibliotecas

In [1]:
import pandas as pd

# Módulo de conexão com banco
import sys
sys.path.append('../') 
import funcoesconexao as con

# Desativa warnings
import warnings
warnings.filterwarnings('ignore')

### Carregamento dos Dados

#### Via banco de dados — SQL Server

In [2]:
conexao = con.conectar_bd()

----- Conexão com banco de dados estabelecida com sucesso! -----

In [3]:
# Carregando dataframes
df_atribuicoes      = con.carregar_dados(conexao, 'atribuicoes')
df_usuarios_sessoes = con.carregar_dados(conexao, 'usuarios_sessoes')

# Fechando conexão
con.fechar_conexao_bd(conexao)

In [4]:
# Exibindo dataframes
display(df_atribuicoes.head())
display(df_usuarios_sessoes.head())

   sessao_id     canal  conversao
0          1  facebook      False
1          2  facebook       True
2          3     email      False
3          4  facebook      False
4          5     email       True

   sessao_id        data_criacao  usuario_id
0          1 2020-09-28 19:20:10           1
1          2 2019-09-12 23:37:15           2
2          3 2020-08-28 14:46:25           1
3          4 2019-11-16 10:55:45           3
4          5 2020-10-24 12:14:12           4

#### Via arquivo .CSV

In [5]:
# Carregando dataframes
df_atribuicoes      = con.carregar_dados_csv('atribuicoes.csv')
df_usuarios_sessoes = con.carregar_dados_csv('usuarios_sessoes.csv')

In [6]:
# Exibindo dataframes
display(df_atribuicoes.head())
display(df_usuarios_sessoes.head())

   sessao_id     canal  conversao
0          1  facebook          0
1          2  facebook          1
2          3     email          0
3          4  facebook          0
4          5     email          1

   sessao_id             data_criacao  usuario_id
0          1  2020-09-28 19:20:10.000           1
1          2  2019-09-12 23:37:15.000           2
2          3  2020-08-28 14:46:25.000           1
3          4  2019-11-16 10:55:45.000           3
4          5  2020-10-24 12:14:12.000           4

### Solução

In [7]:
def atribuicao_primeira_interacao(
    atribuicoes: pd.DataFrame, usuarios_sessoes: pd.DataFrame
):
    # Mesclando dataframes
    df_merge = pd.merge(atribuicoes, usuarios_sessoes, on='sessao_id', how='inner')

    # Filtrar conversões positivas
    df_conversoes = df_merge[df_merge['conversao'] == 1]

    # Ordenando dataframe
    df_conversoes.sort_values(by=['usuario_id', 'data_criacao'], inplace=True)

    # Selecionar a primeira interação de cada usuário que realizou uma conversão
    df_primeira_interacao = df_conversoes.groupby('usuario_id').first().reset_index()

    # Selecionando colunas
    resultado = df_primeira_interacao[['usuario_id', 'canal']]

    # Saída
    return resultado

In [8]:
atribuicao_primeira_interacao(df_atribuicoes, df_usuarios_sessoes)

   usuario_id     canal
0           2  facebook
1           4     email
2           7     email
3           8    google