## Desafio 03. Rotas de voo

### Bibliotecas

In [1]:
import pandas as pd

# Módulo de conexão com banco
import sys
sys.path.append('../') 
import funcoesconexao as con

# Desativa warnings
import warnings
warnings.filterwarnings('ignore')

### Carregamento dos Dados

#### Via banco de dados — SQL Server

In [2]:
conexao = con.conectar_bd()

----- Conexão com banco de dados estabelecida com sucesso! -----

In [3]:
# Carregando dataframes
df_voos = con.carregar_dados(conexao, 'voos')

# Fechando conexão
con.fechar_conexao_bd(conexao)

In [4]:
# Exibindo dataframes
display(df_voos.head())

,id,aeroporto_origem,local_origem,aeroporto_destino,local_destino
0,1,Aeroporto de São Paulo-Congonhas,São Paulo,Aeroporto Internacional de Brasília,Distrito Federal
1,2,Aeroporto Internacional de Brasília,Distrito Federal,Aeroporto de São Paulo-Congonhas,São Paulo
2,3,Aeroporto de São Paulo-Congonhas,São Paulo,Aeroporto Internacional Tom Jobim-Rio Galeão,Rio de Janeiro
3,4,Aeroporto Internacional Tom Jobim-Rio Galeão,Rio de Janeiro,Aeroporto de São Paulo-Congonhas,São Paulo
4,5,Aeroporto Internacional de Belo Horizonte-Confins,Minas Gerais,Aeroporto Internacional Tom Jobim-Rio Galeão,Rio de Janeiro

#### Via arquivo .CSV

In [5]:
# Carregando dataframes
df_voos = con.carregar_dados_csv('voos.csv')

In [6]:
# Exibindo dataframes
display(df_voos.head())

,id,aeroporto_origem,local_origem,aeroporto_destino,local_destino
0,1,Aeroporto de São Paulo-Congonhas,São Paulo,Aeroporto Internacional de Brasília,Distrito Federal
1,2,Aeroporto Internacional de Brasília,Distrito Federal,Aeroporto de São Paulo-Congonhas,São Paulo
2,3,Aeroporto de São Paulo-Congonhas,São Paulo,Aeroporto Internacional Tom Jobim-Rio Galeão,Rio de Janeiro
3,4,Aeroporto Internacional Tom Jobim-Rio Galeão,Rio de Janeiro,Aeroporto de São Paulo-Congonhas,São Paulo
4,5,Aeroporto Internacional de Belo Horizonte-Confins,Minas Gerais,Aeroporto Internacional Tom Jobim-Rio Galeão,Rio de Janeiro

### Solução

In [7]:
def rotas_voo(voos: pd.DataFrame):
    # Criando dois dataframes
    voos_1 = voos[['local_origem', 'local_destino']]
    voos_2 = voos[['local_origem', 'local_destino']]
    
    # Renomeando colunas e invertendo origem/destino
    voos_1.rename(columns={'local_origem':'localidade_01', 'local_destino':'localidade_02'}, inplace=True)
    voos_2.rename(columns={'local_origem':'localidade_02', 'local_destino':'localidade_01'}, inplace=True)

    # Mesclando dataframes
    df_localidades = pd.concat([voos_1, voos_2], axis=0)    

    # Filtrando rotas únicas (sem repetição)
    df_localidades = df_localidades.loc[df_localidades['localidade_01'] < df_localidades['localidade_02']].drop_duplicates()   

    # Ordenando dataframe
    df_localidades.sort_values(by='localidade_01', inplace=True)

    # Saída
    return df_localidades

In [8]:
rotas_voo(df_voos)

       localidade_01   localidade_02
11             Bahia      Pernambuco
1   Distrito Federal       São Paulo
4       Minas Gerais  Rio de Janeiro
7       Minas Gerais       São Paulo
9         Pernambuco  Rio de Janeiro
3     Rio de Janeiro       São Paulo