## Desafio 03. Estudantes com pontuações mais próximas

### Bibliotecas

In [1]:
import pandas as pd

# Módulo de conexão com banco
import sys
sys.path.append('../') 
import funcoesconexao as con

# Desativa warnings
import warnings
warnings.filterwarnings('ignore')

### Carregamento dos Dados

#### Via banco de dados — SQL Server

In [2]:
conexao = con.conectar_bd()

----- Conexão com banco de dados estabelecida com sucesso! -----

In [3]:
# Carregando dataframes
df_pontuacoes = con.carregar_dados(conexao, 'pontuacoes')

# Fechando conexão
con.fechar_conexao_bd(conexao)

In [4]:
# Exibindo dataframes
display(df_pontuacoes.head())

   id estudante  pontuacao
0   1   Jackson        425
1   2     Alice        502
2   3    Milena        550
3   4    Samuel        525

#### Via arquivo .CSV

In [5]:
# Carregando dataframes
df_pontuacoes = con.carregar_dados_csv('pontuacoes.csv')

In [6]:
# Exibindo dataframes
display(df_pontuacoes.head())

   id estudante  pontuacao
0   1   Jackson        425
1   2     Alice        502
2   3    Milena        550
3   4    Samuel        525

### Solução

In [7]:
def pontuacoes_mais_proximas(pontuacoes: pd.DataFrame):
    # Criando uma coluna key
    pontuacoes['key'] = 0
    
    # Mesclando dataframes
    df_merge = pd.merge(pontuacoes, pontuacoes, on='key', suffixes=('_1', '_2'))
    
    # Removendo registros iguais
    df_merge = df_merge[df_merge['id_1'] != df_merge['id_2']]
    
    # Calculando a diferença absoluta
    df_merge['pontuacao_diferenca'] = abs(df_merge['pontuacao_1'] - df_merge['pontuacao_2'])
    
    # Ordenando dataframe
    df_merge.sort_values(by=['pontuacao_diferenca', 'estudante_1'], inplace=True)
    
    # Resultado
    pontuacoes_mais_proximas = df_merge[['estudante_1', 'estudante_2', 'pontuacao_diferenca']].head(1)
    
    # Saída
    return pontuacoes_mais_proximas

In [8]:
pontuacoes_mais_proximas(df_pontuacoes)

  estudante_1 estudante_2  pontuacao_diferenca
7       Alice      Samuel                   23