## Desafio 03. Última transação bancária

### Bibliotecas

In [1]:
import pandas as pd

# Módulo de conexão com banco
import sys
sys.path.append('../') 
import funcoesconexao as con

# Desativa warnings
import warnings
warnings.filterwarnings('ignore')

### Carregamento dos Dados

#### Via banco de dados — SQL Server

In [2]:
conexao = con.conectar_bd()

----- Conexão com banco de dados estabelecida com sucesso! -----

In [3]:
# Carregando dataframes
df_transacoes_bancarias = con.carregar_dados(conexao, 'transacoes_bancarias')

# Fechando conexão
con.fechar_conexao_bd(conexao)

In [4]:
# Exibindo dataframes
display(df_transacoes_bancarias.head())

   id        data_criacao  valor_transacao
0   1 2020-10-01 13:15:45           100.00
1   2 2020-10-01 15:10:00            55.90
2   3 2020-10-02 08:15:30            12.50
3   4 2020-10-02 08:35:00           220.00
4   5 2020-10-02 09:40:50           330.88

#### Via arquivo .CSV

In [5]:
df_transacoes_bancarias = con.carregar_dados_csv('transacoes_bancarias.csv')

In [6]:
# Exibindo dataframes
display(df_transacoes_bancarias.head())

   id             data_criacao valor_transacao
0   1  2020-10-01 13:15:45.000             100
1   2  2020-10-01 15:10:00.000            55,9
2   3  2020-10-02 08:15:30.000            12,5
3   4  2020-10-02 08:35:00.000             220
4   5  2020-10-02 09:40:50.000          330,88

### Solução

In [7]:
def ultima_transacao(transacoes_bancarias: pd.DataFrame):
    # Ordenando os registros pela data_criacao
    transacoes_bancarias.sort_values(by='data_criacao', inplace=True)
    
    # Convertendo campo data_criacao de datetime para date
    transacoes_bancarias['data_criacao'] = pd.to_datetime(transacoes_bancarias['data_criacao']).dt.date
    
    # Agrupando pela data_criacao e selecionando o último registro de cada dia
    ultimas_transacoes = transacoes_bancarias.groupby(transacoes_bancarias['data_criacao']).tail(1)
    
    # Ajustando posição das colunas e ordenando pela data_criacao
    ultimas_transacoes = ultimas_transacoes[['data_criacao', 'valor_transacao', 'id']].sort_values(by='data_criacao')
    
    # Saída
    return ultimas_transacoes

In [8]:
ultima_transacao(df_transacoes_bancarias)

  data_criacao valor_transacao  id
1   2020-10-01            55,9   2
4   2020-10-02          330,88   5
6   2020-10-03            25,3   7
7   2020-10-04             600   8
9   2020-10-05          118,45  10